.idea
.idea/compiler.xml
.idea/copyright/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dictionaries/
.idea/libraries/Maven__org_hsqldb_hsqldb_2_3_3.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_mail_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_thymeleaf_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_1_3_5_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_1_3_5_BUILD_SNAPSHOT.xml
.idea/misc.xml
.idea/modules.xml
.idea/reg1.iml
.idea/uiDesigner.xml
.idea/workspace.xml
src/main/resources/mail.properties
src/main/resources/static/img/
src/test/java/com/example/ControllerTest/
target/
