<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <link href="../static/css/skeleton.css"
          th:href="@{css/skeleton.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/normalize.css"
          th:href="@{css/normalize.css}" rel="stylesheet" media="screen"/>
    <script src="../js/jquery-2.2.4.min.js" th:href="@{js/jquery-2.2.4.min.js}"></script>
    <script src="../js/mine.js" th:href="@{js/mine.js}"></script>
</head>
<body>
<a class="button" id="button_id" style="float: right">CLick me</a>
<div id="signup_form_div">
    <form action="#" th:action="@{/}" th:object="${user}" method="post" >
        <div class="row">
            <div class="four columns">
                <label for="nameInput">Your email</label>
                <input class="u-full-width" th:field="*{email}" type="email" placeholder="email" id="nameInput"></input>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <label for="emailInput">Your password</label>
                <input class="u-full-width" th:field="*{password}" type="password" placeholder="password" id="emailInput"></input>
            </div>
        </div>
        <div class="row">
            <input class="button-primary" type="submit" value="GO"></input>
        </div>
    </form>
</div>
</body>
</html>